

<nav id="adminmenu">
    <ul class="top-menu">
     <li class="current"><a href=""><span class="glyphicon glyphicon-home"></span> <span class="menu-title">Acceuil</span></a></li>
      
       
         <li class=""><a href=""><span class="glyphicon glyphicon-stats block"></span> <span class="menu-title">Statistique</span></a>
        <li class=""><a href=""><span class="glyphicon glyphicon-user block"></span> <span class="menu-title">Gestion des utisateurs</span></a>
        </li>
        <li class=""><a href=""><span class="glyphicon glyphicon-list-alt block"></span> <span class="menu-title">Acte de naissance</span></a></li>
        <li class=""><a href=""><span class="glyphicon glyphicon-file block"></span> <span class="menu-title">Acte de mariage</span></a></li>
         <li class=""><a href=""><span class="glyphicon glyphicon-list-alt block"></span> <span class="menu-title">Acte de Décés</span></a></li>
       
      
        <li class=""><a href=""><span class="glyphicon glyphicon-leaf block"></span> <span class="menu-title">Acte de déces</span></a></li>
      
       
        <li class=""><a href=""><span class="glyphicon glyphicon-user block"></span> <span class="menu-title">Medecins</span></a></li>
        <li class=""><a href=""><span class="glyphicon glyphicon-wrench block"></span> <span class="menu-title">Préférences</span></a>
        </li>
       
        <li class="not-current"><a href="#" id="trigger-shelf"><span class="glyphicon glyphicon-chevron-left block"></span>  <span class="menu-title">Collapse menu</span></a></li>
    </ul>
</nav>