{% extends "::base.html.twig" %}

{% block title %}MairieMairieBundle:Security:login{% endblock %}
{% block body %}
  
  {% if error %}
     <div>{{ error.message }}</div>
  {% endif %}
  
  <div>
     <div>
        <form action="{{ path("login_check") }}" role="form" method="post">
            <h2>Melde dich an</h2>
            <input type="text" id="username" name="_username" placeholder="User" value="{{ last_username }}" required autofocus>
            <input type="password" id="password" name="_password" placeholder="Password" required>
            <label>
                   <input type="checkbox" value="remember-me"> Login merken
            </label>
            <button type="submit">Login</button>
        </form>
     </div>
  </div><br>
{% endblock %}
<h1>Welcome to the Security:login page</h1>
{% endblock %}
